there are three forms of the if...else statement. <br>
if statement <br>
if...else statement <br>
if...elif...else statement <br>
Nested if ...<br>
Single statement suites <br>

In [1]:
number=10

In [2]:
if number>0:
    print("Number is positive")

print("if statement is easy")

Number is positive
if statement is easy

In [4]:
number=-1
if number>0:
    print("Number is positive")
else:
    print("Number is negative")

Number is negative

In [8]:
n=int(input("Please enter a number \n"))

Please enter a number
0

In [9]:
if n>0:
    print("Given number is positive")
elif n==0:
    print("Given number is zero")
else:
    print("Given number is negative")

Given number is zero

In [11]:
#if statements
age=18
if age>=18:
    print("Your are eligible to vote")

Your are eligible to vote

In [12]:
age=17
if age>=18:
    print("Your are eligible vote")
else:
     print("Your are not eligible vote")

Your are not eligible vote

In [15]:
age=int(input("Enter your age \n"))

Enter your age
18

In [17]:
#Task
# if the age 18 greater than equal and less tha 45
# your a young blood
age=int(input("Enter your age :"))

Enter your age :36

In [19]:
if age>=18 and age<=45:
    print("You are young blood")

You are a young blood

In [20]:
#if ..else statements
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

You are young blood

In [21]:
#mall
#product >1000 20% off
#product <=1000 30% off
#discount 10%

In [22]:
productPrice=int(input("Enter a product price :"))

Enter a product price :1000

In [25]:
if productPrice>1000:
    productPrice=productPrice-(productPrice*(20/100))
    print(f"Your are getting 20% offer {productPrice}")
elif productPrice<=1000:
    productPrice=productPrice-(productPrice*(30/100))
    print(f"Your are getting 30% offer {productPrice}")
else:
    productPrice=productPrice-(productPrice*(10/100))
    print(f"Your are getting 10% offer {productPrice}")

Your are getting 30% offer 699.79

In [26]:
#looping statements
#1.while loop
#2.for loop
#3.nested loops
#4.loop control (break,continue and pass)

In [27]:
#while condition:
    # body of while loop

In [31]:
joing_age=25
while joing_age<=60:
    print(joing_age)
    joing_age=joing_age+1
else:
    print("Its time to retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time to retirement

In [34]:
#Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money for bank people")

1000
900
800
700
600
500
400
300
200
100
put more money for bank people

In [35]:
#for loop statement
myList=[1,2,3,"banana","apple","khadar"]

In [36]:
myList[3]

'banana'

In [38]:
for i in myList:
    print(i)

1
2
3
banana
apple
khadar

In [39]:
fruits_list=["cherry","banana","mango","apple"]
for x in fruits_list:
    print(x)

cherry
banana
mango
apple

In [42]:
fruit='mango'
for i in fruit:
    print(i,end='')

mango

In [45]:
#range(start,stop,step)
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [47]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [54]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [57]:
#loop controls
#break,continue and pass

In [61]:
fruits_list=["cherry","banana","mango","apple"]
for i in fruits_list:
    if i=="apple":
        print("it's a fruit")
        break
    print(i)

cherry
banana
mango
it's a fruit

In [62]:
for i in fruits_list:
    if i=="apple":
        print("it's a fruit")
        pass
    print(i)

cherry
banana
mango
it's a fruit
apple

In [64]:
for i in fruits_list:
    if i=="banana":
        print("it's a fruit")
        continue
    print(i)

cherry
it's a fruit
mango
apple