# khadar

## This is the inro session

### Hi khadar

In [3]:
"""
Multiline comments
"""

a=20
a

20

1

# Numebrs

In [5]:
print(1+3)

4

In [7]:
print("Hello world \n revison")

Hello world
 revison

In [9]:
type("s")

str

In [10]:
decimal_num=8.5

In [11]:
type(decimal_num)

float

In [12]:
decimal_num

8.5

In [13]:
complex_num=5+4j

In [14]:
type(complex_num)

complex

In [15]:
print(complex_num.real)

5.0

In [17]:
## Reserved keywords
'''
int,float,len,complex,bool,str,return,yield
'''
a=10

In [18]:
True and False

False

In [19]:
not True

False

In [20]:
not False

True

In [21]:
bool(1)

True

In [22]:
bool(0)

False

# Dynamic Typing

In [23]:
a=12
str1="krish"
a="var"

In [24]:
print(type(a))

<class 'str'>

In [25]:
## concatenation between different types

In [26]:
"1" + "1"

'11'

In [27]:
int("10")+int("10")

20

In [28]:
"1"*10

'1111111111'

In [29]:
#python Conditions,if,else,ifelif, while,for loops and llop controls

In [30]:
## format()
name="khadar"
age=37
print("My name is {} and age is {}".format(name,age))

My name is khadar and age is 37

In [31]:
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is khadar and age is 37

In [32]:
age=37
degree="mca"
year=2006

print("My age is {age} completed degree {degree} which year {year}".format(age=age,degree=degree,year=year))

My age is 37 completed degree mca which year 2006

In [33]:
##If statements
age=18

if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [35]:
name=input("Enter the name :")

Enter the name :khadar

In [36]:
print(name)

khadar

In [39]:
age=int(input("Enter your age :"))

Enter your age :25

In [40]:
age

25

In [42]:
age=int(input("Enter the age :"))

if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

Enter the age :17
Thank you your we will let you know

In [44]:
product_price=int(input("Enter the price :"))

if product_price>1000:
    print("The price of the product is {}".format(product_price-(product_price*0.2)))
else:
    print("The price of the product is {}".format(product_price-(product_price*0.3)))

Enter the price :5000
The price of the product is 4000.0

In [45]:
product_price=int(input("Enter the price :"))

if product_price>3000:
    print(f"The price of the product is {product_price-(product_price*0.2)}")
elif product_price>=2000 and product_price<=3000:
    print(f"The price of the product is {product_price-(product_price*0.3)}")
else:
    print(f"The price of the product is {product_price-(product_price*0.4)}")

Enter the price :5000
The price of the product is 4000.0

In [60]:
##while loop
joining_age=25

while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [53]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [62]:
total_amount=1000

while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

In [63]:
lst=["khadar",1,2,3,4,"apple","banana"]

In [64]:
type(lst)

list

In [65]:
lst[0]

'khadar'

In [66]:
for i in lst:
    print(i)

khadar
1
2
3
4
apple
banana

In [67]:
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [68]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [69]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [71]:
for i in range(6,0,-1):
    print(i)

6
5
4
3
2
1

In [75]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [76]:
n=7
for i in range(n,-1,-1):
    for j in range(i,):
        print("*",end="")
    print("\n")

*******

******

*****

****

***

**

*

In [78]:
##Loop controls
## Break and continue

fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [79]:
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

# Tuples

In [2]:
t=()

In [3]:
type(t)

tuple

In [4]:
t1=(1,2,3,4,45.5,45+7j,"khadar",True)

In [5]:
type(t1)

tuple

In [6]:
l=[1,2,3,5]

In [7]:
l

[1, 2, 3, 5]

In [8]:
# Differnce between List vs Tuples

In [9]:
t1[0]

1

In [10]:
for i in t1:
    print(i)

1
2
3
4
45.5
(45+7j)
khadar
True

In [12]:
t1[::-1]

(True, 'khadar', (45+7j), 45.5, 4, 3, 2, 1)

In [13]:
t1

(1, 2, 3, 4, 45.5, (45+7j), 'khadar', True)

In [14]:
t1[0:2]

(1, 2)

In [15]:
list(t1)

[1, 2, 3, 4, 45.5, (45+7j), 'khadar', True]

In [16]:
t1.count(1)

2

In [17]:
t1.count(4)

1

In [18]:
t1.index(1)

0

In [19]:
t1.count("abc")

0

In [21]:
t1.index(True)

0

In [22]:
l

[1, 2, 3, 5]

In [23]:
t1

(1, 2, 3, 4, 45.5, (45+7j), 'khadar', True)

In [24]:
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
45.5 <class 'float'>
(45+7j) <class 'complex'>
khadar <class 'str'>
True <class 'bool'>

In [25]:
t2=(1,2,3,3,4)

In [26]:
t2*3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [27]:
max(t2)

4

In [28]:
min(t2)

1

## Tuple are basically follows Immutability concepts  where it is not going to allow to change any element at a particular index

In [29]:
t1=(1,2,32,4)
t2=(4,5,6,7,8)
t3=(t1,t2)

In [30]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [31]:
t4=((1,2,3,4,5),[1,3,5,6,8,10])

In [32]:
t4

((1, 2, 3, 4, 5), [1, 3, 5, 6, 8, 10])

In [33]:
del t4

In [45]:
try:
    print(t4)
except:
    print('error')

error

In [46]:
t1

(1, 2, 32, 4)

In [47]:
1 in t1

True

In [48]:
"sudh" in t1

False